@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Home_Layout.cshtml";
}

<h2>Log in</h2>
<form class="form-horizontal">
    <fieldset>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="username">Username</label>
            <div class="col-md-4">
                <input id="username" name="username" type="text" placeholder="" class="form-control input-md" required="">
            </div>
        </div>

        <!-- Password input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="password">Password</label>
            <div class="col-md-4">
                <input id="password" name="password" type="password" placeholder="" class="form-control input-md" required="">

            </div>
        </div>
        <center>
            <button type="button" id="login" name="login" class="btn btn-default" onclick="location.href='@Url.Action("Index", "Listing")'">Log In</button>
        </center>


    </fieldset>
</form>